@import url(./modern-normalize.css);

:root {
  --bg: #181414;
  --white: #fbfafa;
  --green: #6edf55;
}

body {
  background-color: var(--bg);
  color: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 80vw;
  max-width: 800px;
  margin: 0 auto;

  font-weight: 600;
}

.board {
  width: 100%;
  min-height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 2rem;

  background-color: var(--white);
  border-radius: 1rem;
  color: var(--bg);
  overflow: hidden;
}

.display-message {
  font-size: 1.5rem;
}

/* CHOICE SCREEN */
.play-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
  justify-items: center;
}

button.icon {
  width: min(100px, 20vw);
  height: min(100px, 20vw);
  background-color: var(--bg);
  outline: none;
  border: none;
  border-radius: 100%;

  background-position: center;
  background-size: 80px;

  transition: transform 0.5s;
}

button.icon:hover {
  transform: scale(110%);
}

button.icon.r-icon {
  background-image: url(./assets/icons/r-icon.png);
}
button.icon.p-icon {
  background-image: url(./assets/icons/p-icon.png);
}
button.icon.s-icon {
  background-image: url(./assets/icons/s-icon.png);
}

/* PLAY SCREEN */

.hands {
  display: flex;
  gap: 2rem;
}

.hands img {
  width: min(300px, 30vw);
}

.fist {
  animation: enter-hand 3s ease;
}

.left-hand {
  --initial-pos: -100%;
  --turn: -45deg;
  transform-origin: bottom left;
}
.right-hand {
  --initial-pos: 100%;
  --turn: 45deg;
  transform-origin: bottom right;
}

@keyframes enter-hand {
  0% {
    transform: translateX(var(--initial-pos));
  }

  20% {
    transform: none;
  }

  30% {
    transform: rotate(var(--turn));
  }

  40% {
    transform: none;
  }

  50% {
    transform: rotate(var(--turn));
  }

  60% {
    transform: none;
  }

  70% {
    transform: rotate(var(--turn));
  }

  80% {
    transform: none;
  }

  95% {
    transform: rotate(var(--turn));
    animation-timing-function: ease-in;
  }
}

/* RESULT SCREEN */

.next-round {
  border: none;
  background-color: var(--bg);
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  margin-top: -1rem;
}

/* SCORES */

.scores {
  width: 100%;
  display: flex;
  justify-content: space-between;

  font-size: 1.25rem;
  padding: 0.5rem 0;
}

.player-score {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.points {
  display: flex;
  gap: 0.5rem;
}

.point {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  background-color: var(--white);
}

.point.scored {
  background: var(--green);
}

@media screen and (max-width: 500px) {
  .point {
    width: 0.5rem;
    height: 0.5rem;
  }

  .play-icons {
    column-gap: 1rem;
  }
}


.signature {
  font-size: 0.75rem;
  font-weight: 200;
  text-align: center;
  margin-top: 2rem;
}

.signature a {
  color: inherit;
}